.customPopup {
    background-color: gray; /* Cambia questo colore al colore desiderato */
    color: black; /* Cambia il colore del testo se necessario */
    padding: 10px; /* Aggiungi spazio interno al popup se necessario */
    /* Altri stili CSS desiderati per il tuo popup */
  }